<%# ヘッダーは views\layouts\prog8.html.erb で統一 %>
<%# <header>
  <div class="header-logo">
    <!--トップページへのリンクにしてください-->
    <a href="/prog8">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクにしてください-->
      <a href="/prog8/about">TweetAppとは</a>
    </li>
  </ul>
</header> %>

<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/prog8/prog8_tweets.png">
</div>