<h1>テストボックス</h1>

<%= link_to "テストサイト", '#', id: "logo" %>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "prog8", '/prog8' %></li>
    <li><%= link_to "---", '---' %></li>
    <li><%= link_to "---", '---' %></li>
  </ul>
</nav>